body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    width: 1000px;  
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.section-title {
    background-color: #5DBCD2;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}


.image {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image img {
    max-width: 80%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.button-container {
    text-align: left;
    margin-top: 20px;
}

.image-external {
    max-width: 35%;
    height: auto;
}

.foda-image img {
    max-width: 40%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
}


.container2 {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1000px; /* Hacemos más pequeño el contenedor */
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 700px; /* Altura limitada para agregar scroll */
    overflow: hidden;
}

.box {
    width: 200px;
    border: 2px solid #FF6C5B; /* Color ajustado según la imagen */
    padding: 10px;
    text-align: center;
}

.form-content {
    flex: 2; 
    padding: 50px;
    background-color: #ffffff;
}



.form-content h1 {
    margin-bottom: 40px;
    font-size: 30px;
    color: #333;
}

/* .form-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
} */
.btn-volver, .btn-guardar , .btn-siguiente{
    padding: 10px 20px;
    background-color: #f76a6a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

form input[type="text"],
form input[type="date"],
form input[type="file"] {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

form input[type="submit"] {
    padding: 15px;
    background-color: #f76a6a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #f85b6b;
}

.info-content {
    flex: 1;  
    background: linear-gradient(135deg, #f76a6a, #f85b6b, #f91c6d);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.info-content aside {
    color: white;
    padding: 20px;
    background-color: transparent; 
}

.info-content aside h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.info-content aside ul {
    list-style-type: none;
    padding-left: 0;
}

.info-content aside ul li {
    margin-bottom: 10px;
}

.info-content aside ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.info-content aside ul li a:hover {
    color: #ffd1d1; 
}

.content {
    margin: 20px;
}

.content p {
    text-align: justify;
}


/* Estilo para el scroll */
.form-content2 {
    width: 60%;
    overflow-y: auto;
    height: auto; /* Cambiamos el valor de '100%' a 'auto' */
    max-height: 100%; /* Limitar la altura máxima para que no exceda el área visible */
    padding-bottom: 20px; /* Agregamos espacio debajo del contenido */
    height: 100%;
    overflow-y: scroll;
}

.form-content3 {
    width: 60%;
    overflow-y: auto;
    height: auto; /* Cambiamos el valor de '100%' a 'auto' */
    max-height: 100%; /* Limitar la altura máxima para que no exceda el área visible */
    padding-bottom: 20px; /* Agregamos espacio debajo del contenido */
    height: 100%;
    overflow-y: scroll;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-content,
    .info-content {
        width: 100%;
        padding: 20px;
    }

    .info-content {
        padding: 20px;
    }

    
}
